<body class = "min-h-screen bg-gradient-to-b from-gray-100 to-gray-300">

<div class="flex flex-col flex-wrap justify-center items-center	">
<h1 class="mb-4 text-4xl font-black" >Foodie Secrets</h1>
<section> 
    <% @articles.each do |article| %>
        <div class = "bg-white rounded-lg p-6">
            <div>
                <label class = "font-semibold">Recipe: </label>
                <p class = "text-xl text-gray-700 font-normal mb-1"><%= article.title %> </p>
            </div>
            <div>
                <label class = "font-semibold">Restaurant: </label>
                <p class = "text-xl text-gray-700 font-normal mb-1"><%= article.restaurant %> </p>
            </div>
            <div>
                <label class = "font-semibold">Recipe: </label>
                <p class = "text-xl text-gray-700 font-normal mb-1"> <%= article.body %> </p>
            </div>
            <div class = "flex flex-row justify-end items-center">
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"><%= link_to 'Show', article %></div>
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"><%= link_to 'Edit', edit_article_path(article) %></div>
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
        </div>
    <% end %>
</section>


<br>
<div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
<%= link_to 'Submit a recipe!', new_article_path %>
</div>
</body>